.ant-avatar-circle {
  margin-bottom: 7px !important;
  margin-right: 7px !important;
  background: rgb(194, 157, 250) !important;
  justify-items: center !important;
}

.header {
  color: rgb(194, 157, 250) !important;
  background: #5756a4 !important;
  padding: 0 0px;
  text-align: center;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 35px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
